@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Righteous');
header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
font-family: 'Righteous', cursive;
	padding: 20px;
	background: #00008B;
    z-index: 100000;
    opacity: 0.9;
}
.logo{
    float: right;
  height: 25px;
}
header #button-menu{
	font-size: 20px;
	color: #fff;
	cursor: pointer;
     z-index: 100000;
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    color: white;
    background-color: black;
    opacity: 0.90;
    border-radius: 5px;
    border: 2px solid white;
    float: right;
    font-family: 'Bree Serif', serif;
     font-size: 15px; 
  }
.navegacion{
	position: absolute;
	top: 100%;
	left: 0;
	width: 0%;
	height: 100vh;
	background: rgba(0,0,0,.0);
     z-index: 100000;

}

.navegacion ul{
	width: 320px;
	height: 100%;
	background: #fff;
	list-style: none;
 z-index: 100000;
	position: absolute;
	top: 0;
	left: -320px;

	transition: left .3s;
}

.navegacion .menu li.title-menu{
	padding: 10px;
	background: #00008B;
	color: #fff;
	text-align: center;
	font-size: 22px; z-index: 100000;
}

.navegacion .menu a{
	display: block;
	padding: 12px;
	border-bottom: 1px solid #C6D0DA;
 z-index: 100000;
	font-size: 18px;
	font-weight: 200;
	text-decoration: none;
	color: #575D69;
}

.navegacion .menu a:hover{
	background: #f1d18a;
	color: #fff;
     z-index: 100000;
}

.navegacion .menu li span.icon-menu{
	margin-right: 12px;
}

.navegacion .menu .item-submenu > a::after{
	font: normal normal normal 14px/1 FontAwesome;
  	font-size: inherit;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	content: '\f105';
 z-index: 100000;
	float: right;
	color: #C5C5C5;
}

/* Submenu ============*/



.navegacion .submenu li.title-menu{
	background: #fff;
	color: #575D69;
   z-index: 100000;
}

.navegacion .submenu li.go-back{
	padding: 10px 20px;
	background:  #f73859;
	color: #fff;
  
	font-size: 18px;
	cursor: pointer;
}

.navegacion .submenu li.go-back::before{
	font: normal normal normal 14px/1 FontAwesome;
  	font-size: inherit;
  	text-rendering: auto;
    z-index: 100000;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	content: '\f0d9';
	margin-right: 10px;
}

@media screen and (max-width: 320px){
	.navegacion ul{
		width: 100%;
	}
}